APP_NOM="VOTE UPC ONLINE"
APP_ENV=local
APP_LANGUE=fr
APP_URL=https://vote-upc-online.cd
APP_OTP_EXPIRATION_MINUTES=5

DB_HOTE=127.0.0.1
DB_PORT=5432
DB_NOM=vote_upc
DB_UTILISATEUR=postgres
DB_MOT_DE_PASSE=
DB_SSLMODE=

# Option Render/Cloud : remplace les variables DB_* si renseignee.
DATABASE_URL=

MAIL_TRANSPORT=smtp
MAIL_HOTE=smtp.gmail.com
MAIL_PORT=587
MAIL_CHIFFREMENT=tls
MAIL_UTILISATEUR=voteupc@gmail.com
MAIL_MOT_DE_PASSE=mot-de-passe-application-sans-espaces
MAIL_ADRESSE_EXPEDITEUR=voteupc@gmail.com
MAIL_NOM_EXPEDITEUR="VOTE UPC ONLINE"
MAIL_REPONSE_A=voteupc@gmail.com

